# web_widget_bokeh_chart
bokeh==1.1.0
# web_widget_mpld3_chart
matplotlib>=2.0.0
mpld3==0.3
cachetools>=2.0.1
icalendar
boto3
websocket-client
pretty_bad_protocol
requests_mock
dropbox
google-api-python-client
bs4
bravado
swagger-spec-validator==2.4.3
python-chess<0.24
